.cartSummaryContainer {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: flex-start;
}
h1 {
  font-size: 20px;
}
h1 > span {
  font-size: 25px;
  color: #0b69ff;
}
.checkoutBtn {
  background-color: #0b69ff;
  color: #ffffff;
  width: 150px;
  border: none;
  padding: 5px;
  text-decoration: none;
  border-radius: 8px;
  text-align: center;
}
